.profile-wrapper {
  display: flex;
}

.perfil-container {
  flex: 1;
}

.photo-container {
  flex-shrink: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 300px;
  height: 300px;
  border-radius: 50%;
  background-color: lightgray;
  margin-right: 100px;
  margin-top: 50px;
}

.change-photo-btn {
  background-color: #dbe2e9;
  color: white;
  border: none;
  border-radius: 50%;
  width: 300px;
  height: 300px;
  font-size: 16px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: black;
}

.titulo-perfil {
  font-size: 40px;
  margin-bottom: 20px;
  width: 50%;
  margin-left: 100px;
}

.inputs-container {
  margin-left: 100px;
}

.profile-wrapper {
  margin-top: 200px;
}

.save-changes-btn {
  background-color: #c26004; /* Fondo naranja */
  color: white; /* Texto blanco */
  border: none; /* Sin borde */
  border-radius: 8px; /* Bordes redondeados */
  padding: 15px 20px; /* Espaciado interno */
  font-size: 18px; /* Tamaño de fuente */
  font-weight: bold; /* Texto en negrita */
  cursor: pointer; /* Cursor al pasar sobre el botón */
  transition: background-color 0.3s ease; /* Transición suave del color de fondo */
  margin-left: 100px;
  margin-top: 15px;
}

.save-changes-btn:hover {
  background-color: darkorange; /* Cambio de color al pasar sobre el botón */
}

.entryarea {
  padding-top: 15px;
}

@media (max-width: 820px) {
  .profile-wrapper {
    display: block;
  }

  .photo-container {
    margin-left: 50px;
  }

  .titulo-perfil {
    font-size: 30px;
  }
  .save-changes-btn {
  }
  .profile-wrapper {
    margin-top: 10px;
  }
  .inputs-container {
    margin-left: 40px;
  }
  .entryarea {
    width: 80%;
  }
}
