/* Dashboard.css */
.dashboard {
  height: 100%; 
  overflow-x: hidden; /* Agregar esta línea */
  background-color: rgb(42, 43, 40);
}

/*zona de trabajo*/
.zona-de-trabajo {
  background-color: rgb(42, 43, 47);
  color: #dcdcdc;
  margin-top: 0;
  font-size: 0.9em;
  padding-left: 80px;
  width: 100%;
  padding-top: 90px;
  min-height: 100%;
}