.entryarea{
	position: relative;
	height: 50px;
	line-height: 55px;
	margin-bottom: .3rem;
}

.myInput{
	position: absolute;
	width: 100%;
	outline: none;
	font-size: 1.3rem;
	padding: 0 1.2rem;
	line-height: 50px;
	border-radius: 10px;
	border: 3px solid #B3B3B3;
	background:transparent;
	transition: 0.1s ease;
	z-index: 1111;
	
}

.labelline{
	position: absolute;
	font-size: 1.2rem;
	color: #8B8FA8;
	padding: 0 1rem;
	margin: 0 .4rem;
	background-color: #2A2B2F;
	transition: 0.2 ease;
}

.myInput:focus, .myInput:valid{
	color: #DCDCDC;
	border: 3px solid #C26004;
}

.myInput:focus + .labelline,
.myInput:valid + .labelline{
	color: #DCDCDC;
	height: 20px;
	line-height: 30px;
	padding: 0 12px;
	transform: translate(-10px, -14px) scale(0.80);
	z-index: 1111;
}